<h1><%= @user.name %></h1>
<pre><%= @user.to_json %></pre>

<h2>Email: <%= @user.email %></h2>
<h2>Category: <%= @user.category %></h2>

<h3>Description</h3>
<p><%= @user.description%> </p>

<a href="<%= new_user_pet_url(@user) %>">New Pet</a>

<a href="<%= users_url %>">Index Page</a>


